files: res/files
images: res/images

version: 1.0.3
title: MusicBoard v1.0.3
footer: MusicBoard v1.0.3   -   Andrea Rossi
data: data.xml

//gui
minimum-rows: 9
state-panel-height: 250
state-panel-scroll-unit-h: 8
state-panel-scroll-unit-v: 8
youtube-link: https://www.youtube.com/channel/UCMilikjUeXChBp3_Kr9FwlA
youtube-label: ROUJE Channel

//item
creation-date-format: dd/MM/yyyy